@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <tr>
        <td><a  class="btn btn-dark"href="https://localhost:7227/Books">Books Table</a></td>
        <td><a class="btn btn-dark" href="https://localhost:7227/Authors">Authors Table</a></td>
        <td><a class="btn btn-dark" href="https://localhost:7227/PriceOffers">PriceOffers Table</a></td>
        <td><a class="btn btn-dark" href="https://localhost:7227/Reviews">Reviews Table</a></td>
        <td><a class="btn btn-dark" href="https://localhost:7227/Tags">Tags Table</a></td>

    </tr>
    
</table>
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
